name: Build
on:
  push:
    paths-ignore:
      - example/**
      - README.md
    branches:
      - "main"
  pull_request:
    paths-ignore:
      - example/**
      - README.md
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run clang-format style check for Objective-C files.
      uses: jidicula/clang-format-action@v4.13.0
      with:
        clang-format-version: '13'
  build:
    needs: formatting-check
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os:
        - macos-14
        - macos-15
        - macos-15-intel
        - macos-26
        go:
        - '^1.24'
        - '^1.25'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: vet
        run: go vet ./...
      - name: Build Linux
        run: make -C example/linux
      - name: Build GUI Linux
        run: make -C example/gui-linux
      - name: Build macOS
        run: make -C example/macOS
        if: runner.arch == 'ARM64'
  test:
    needs: formatting-check
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    strategy:
      fail-fast: false
      # Can't expand the matrix due to the flakiness of the CI infra
      matrix:
        os:
        - macos-15-intel
        go:
        - '^1.24'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Download Linux kernel
        run: make download_kernel
      - name: Unit Test
        run: make test
